<div class="flex min-h-full flex-col justify-top px-6 py-12 lg:px-8 h-screen">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Авторизация</h2>
    </div>
  
    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
      <form class="space-y-6" action="#" method="POST">
        <div>
            <div class="flex items-center justify-between">
                <label for="login" class="label">Пользователь</label>
            </div>
            <div class="mt-2">
              <select class="input-text w-[50%]" id="inputGroupSelect01">
                <option selected>Choose...</option>
                <option value="1">Муж.</option>
                <option value="2">Жен.</option>
            </select>
            </div>

        </div>

  
        <div>
          <div class="flex items-center justify-between">
            <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Пароль</label>
          </div>
          <div class="mt-2">
            <input id="password" name="password" type="password" autocomplete="current-password" required class="input-text">
          </div>
        </div>
  
        <div>
          <button type="submit" class="button" routerLink="clients">Вход</button>
        </div>
      </form>
    </div>
  </div>
  