<div class="h-[50px] mt-[10px]">
    <div class="component flex items-center justify-between">

        <nav mat-tab-nav-bar [tabPanel]="tabPanel" class="w-full">
            <a mat-tab-link routerLink="./users" routerLinkActive="active-link">Пользователи</a>
            <a mat-tab-link routerLink="./types" routerLinkActive="active-link">Типы</a>
            <a mat-tab-link routerLink="./services" routerLinkActive="active-link">Услуги</a>
        </nav>

    </div>
</div>
<mat-tab-nav-panel #tabPanel>
    <router-outlet></router-outlet>
</mat-tab-nav-panel>