<div class="h-[50px] mt-[10px]">
    <div class="component flex items-center justify-between">

        <nav mat-tab-nav-bar [tabPanel]="tabPanel" class="w-full">
            <a mat-tab-link routerLink="./information" [queryParams]="{id: id}" routerLinkActive="active-link">Информация</a>
            <a mat-tab-link routerLink="./documents" [queryParams]="{id: id}" routerLinkActive="active-link">Документы</a>
            <a mat-tab-link routerLink="./serviceplans" [queryParams]="{id: id}" routerLinkActive="active-link">Сервисные планы</a>
            <a mat-tab-link routerLink="./references" [queryParams]="{id: id}" routerLinkActive="active-link">Выдача справки</a>
        </nav>

    </div>
</div>
<mat-tab-nav-panel #tabPanel>
    <router-outlet></router-outlet>
</mat-tab-nav-panel>
