<div class="w-full mx-[5px]">
    <div class="component h-[40px] flex flex-col">
        <div class="flex justify-between my-auto">
            <span><a href="#">Обновить таблицу</a></span>
            <span><mat-slide-toggle (click)=toggleDisplayDiv()>Фильтры</mat-slide-toggle></span>
        </div>
    </div>
    <div id="myComponent" class="h-[100px] component" [style.opacity]="!isShowDiv ? '0' : '1'" [style.visibility]="!isShowDiv ? 'hidden' : 'visible'">
        <div class="flex justify-between">
            <span><a href="#">Обновить таблицу</a></span>
            <span><a href="#" style="align-items: right;">Фильтры</a></span>
        </div>
    </div>
</div>
<div class="antialiased mx-[5px]">
    <div class="flex flex-col">
        <div id="menu" class="z-10">
          <div fxLayout="row wrap" fxLayoutGap="16px grid" >
            <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%"
                 infinite-scroll
                 [infiniteScrollDistance]="2"
                 [infiniteScrollThrottle]="100"
                 (scrolled)="onScroll()"
                 *ngFor="let people of humans">
                  <a routerLink="{{people.name}}/information">
                  <mat-card class="card">
                      <mat-card-header>
                        <div mat-card-avatar class="bg-cover"><img src="{{people.picture}}" class="foto"></div>
                        <mat-card-title class="text-xs">Имя: {{ people.name }}</mat-card-title>
                        <mat-card-subtitle>Возраст: {{people.dob}}</mat-card-subtitle>
                      </mat-card-header>
                      <br>
                      
                      <mat-card-content>
                        <br>
                        <p>
                          Пол: {{people.gender}}
                        </p>
                      </mat-card-content>
                    </mat-card>
                 </a>
                
              </div>
            </div>
            
           </div>
        </div>
        
      
    </div>