<div class="bg-white shadow-lg h-[50px] mt-[10px] flex flex-col">
    <hr class="w-full h-[3px] bg-green-400">
    <p class="pl-[10px] my-auto">Добавление клиента</p>
</div>
<div class="flex justify-between mt-[10px]">
    <div style="width: 55%; margin-right: 10px; height: 100%;">
        <hr class="w-full h-[3px] bg-green-400">
        <div class="bg-white shadow-lg h-full px-[5px] mt-0">
            <div style="display:flex; justify-content: space-between;">
                <div style="width: 40%;">
                    <p>Фото</p>
                </div>
                <div style="width: 55%;">
                    <div>
                        <p style="margin-bottom: 5px;">Фамилия</p>
                        <input type="text" name="input" ng-model="example.text" ng-pattern="example.word" required ng-trim="false" style="width: 95%;">
                    </div>
                    <div>
                        <p style="margin-bottom: 5px;">Имя</p>
                        <input type="text" name="input" ng-model="example.text" ng-pattern="example.word" required ng-trim="false" style="width: 95%;">
                    </div>
                    <div>
                        <p style="margin-bottom: 5px;">Отчество</p>
                        <input type="text" name="input" ng-model="example.text" ng-pattern="example.word" required ng-trim="false" style="width: 95%;">
                    </div>
                    <div class="flex justify-between">
                        <div class="w-[30%] mr-[5px]">
                            <p style="margin-bottom: 5px;">Пол</p>
                            <input type="text" class="w-[80%]">
                        </div>
                        <div class="w-[70%]">
                            <p style="margin-bottom: 5px;">Дата рождения</p>
                            
                            <input type="date">
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <p style="margin-bottom: 5px;">Место рождения</p>
                <input type="text" name="input" ng-model="example.text" ng-pattern="example.word" required ng-trim="false" style="width: 95%;">
            </div>
            <div>
                <p style="margin-bottom: 5px;">Место последнего проживания</p>
                <input type="text" name="input" ng-model="example.text" ng-pattern="example.word" required ng-trim="false" style="width: 95%;">
            </div>
            <div>
                <p style="margin-bottom: 5px;">Место последней регистрации</p>
                <input type="text" name="input" ng-model="example.text" ng-pattern="example.word" required ng-trim="false" style="width: 95%;">
            </div>
            <div>
                <p style="margin-bottom: 5px;">Социальный статус</p>
                <input type="text" name="input" ng-model="example.text" ng-pattern="example.word" required ng-trim="false" style="width: 95%;">
            </div>
            <div>
                <p style="margin-bottom: 5px;">Признак маломобильности</p>
                <input type="text" name="input" ng-model="example.text" ng-pattern="example.word" required ng-trim="false" style="width: 95%;">
            </div>
            <div>
                <p style="margin-bottom: 5px;">Снилс</p>
                <input type="text" name="input" ng-model="example.text" ng-pattern="example.word" required ng-trim="false" style="width: 95%;">
            </div>
            <div>
                <p style="margin-bottom: 5px;">Полис ОМС</p>
                <input type="text" name="input" ng-model="example.text" ng-pattern="example.word" required ng-trim="false" style="width: 95%;">
            </div>
            <div>
                <p style="margin-bottom: 5px;">Социальный работник</p>
                <input type="text" name="input" ng-model="example.text" ng-pattern="example.word" required ng-trim="false" style="width: 95%;">
            </div>
        </div>
        <div>
        </div>
    </div>
    
    <div class="w-[45%] ml-[10px]">
        <hr class="w-full h-[3px] bg-green-400">
        <div class="bg-white shadow-lg h-full px-[5px] mt-0 relative pt-0">
            <div class="flex">
                <p class="mt-0 ml-[5px] mr-[15px]">Документы</p>
                <button>+Добавить</button>
            </div>
            <div>
                <ag-grid-angular 
                    class="ag-theme-material w-full h-[300px]"
                    [rowData]="rowData" 
                    [columnDefs]="columnDefs">
                </ag-grid-angular>
            </div>
            <div class="absolute bottom-[10px] right-[10px] bg-sky-300">
                <button>
                    <p>Создать</p>
                </button>
            </div>
        </div>
    </div>
</div>
