<div class="component h-[50px] flex flex-col">
    <p class="pl-[10px] my-auto">Добавление клиента</p>
</div>
<form (ngSubmit)="onSubmit()" method="POST" style="gap: 20px 5px;">
<div class="flex sm:justify-between flex-col sm:flex-row">
    
    <div class="sm:w-[55%] w-full component h-full pt-3 pb-5">
        <div class="h-full">
            <div class="flex gap-2">
                <div class="w-[60%]">
                    <div class="w-full">
                        <div class="mb-5">
                                <div class="mb-3">
                                    <label
                                      for="formFile"
                                      class="label"
                                      >Фото</label
                                    >
                                    <input
                                      class="relative m-0 block w-full min-w-0 flex-auto rounded border border-solid border-neutral-300 bg-clip-padding px-3 py-[0.32rem] text-base font-normal text-neutral-700 transition duration-300 ease-in-out file:-mx-3 file:-my-[0.32rem] file:overflow-hidden file:rounded-none file:border-0 file:border-solid file:border-inherit file:bg-neutral-100 file:px-3 file:py-[0.32rem] file:text-neutral-700 file:transition file:duration-150 file:ease-in-out file:[border-inline-end-width:1px] file:[margin-inline-end:0.75rem] hover:file:bg-neutral-200 focus:border-primary focus:text-neutral-700 focus:shadow-te-primary focus:outline-none dark:border-neutral-600 dark:text-neutral-200 dark:file:bg-neutral-700 dark:file:text-neutral-100 dark:focus:border-primary"
                                      type="file"
                                      id="formFile" (change)="uploadPhoto($event)"/>
                                </div>
                                <div>
                                    <img [src]="client.photo" alt="photo">
                                </div>
                        </div>
                    </div>
                </div>
                <div class="w-[40%]">
                    <div class="w-full">
                        <div class="mb-0">
                            <label for="secondname" class="label">Фамилия</label>
                            <input
                                type="text"
                                [(ngModel)]="client.secondname"
                                name="secondname"
                                id="secondname"
                                placeholder="Фамилия"
                                class="input-text peer" required
                                #secondname="ngModel"/>
                                <p class="invisible peer-invalid:visible peer-invalid:mb-2 text-red-700 font-light">
                                    *Заполните обязательное поле
                                </p>
                        </div>
                    </div>
                    <div class="w-full">
                        <div class="mb-0">
                            <label for="name" class="label">Имя</label>
                            <input
                                type="text"
                                name="name"
                                [(ngModel)]="client.name"
                                id="name"
                                placeholder="Имя"
                                class="input-text peer" required
                                #name="ngModel"/>
                                <p class="invisible peer-invalid:visible peer-invalid:mb-2 text-red-700 font-light">
                                    *Заполните обязательное поле
                                </p>
                        </div>
                    </div>
                    <div class="w-full">
                        <div class="mb-5">
                            <label for="oName" class="label">Отчество</label>
                            <input
                                type="text"
                                [(ngModel)]="client.otchestvo"
                                name="fName"
                                id="fName"
                                placeholder="Отчество"
                                class="input-text"/>
                        </div>
                    </div>
                    <div class="flex justify-between">
                        <div class="w-[40%] sm:w-[50%] mr-[5px] form-group">
                            <label for="fName" class="label">Пол</label>
                            <select name="sex" class="input-text w-[50%] form-control" [(ngModel)]="client.sex">
                                <option th:value="Муж.">Муж.</option>
                                <option th:value="Жен.">Жен.</option>
                            </select>
                        </div>
                        <div class="w-[60%] sm:w-[50%]">
                            <div class="mb-5">
                              <label for="date" class="label">Дата рождения</label>
                              <input
                                type="date"
                                name="date"
                                [(ngModel)]="client.dateOfBirth"
                                id="date"
                                class="input-text"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-full">
                <div class="mb-5">
                    <label for="fName" class="label">Место рождения</label>
                    <input
                        type="text"
                        name="fName"
                        [(ngModel)]="client.placeOfBirth"
                        id="fName"
                        placeholder="Место рождения"
                        class="input-text"/>
                </div>
            </div>
            <div class="w-full">
                <div class="mb-5">
                    <label for="fName" class="label">Место последнего проживания</label>
                    <input
                        type="text"
                        name="fName"
                        [(ngModel)]="client.placeLastLive"
                        id="fName"
                        placeholder="Место последнего проживания"
                        class="input-text"/>
                </div>
            </div>
            <div class="w-full">
                <div class="mb-5">
                    <label for="fName" class="label">Место последней регистрации</label>
                    <input
                        type="text"
                        name="fName"
                        [(ngModel)]="client.placeLastReg"
                        id="fName"
                        placeholder="Место последней регистрации"
                        class="input-text"/>
                </div>
            </div>
            <div class="w-full">
                <div class="mb-5 form-group">
                    <label for="fName" class="label">Социальный статус</label>
                    <select name="idSocialStatus" class="input-text form-control" [(ngModel)]="client.idSocialStatus">
                        <option *ngFor="let socialstatus of socialstatuses" [ngValue]="socialstatus">{{socialstatus.name}}</option>
                   </select>
                </div>
            </div>
            <div class="w-full">
                <div class="mb-5">
                    <label for="fName" class="label">Признак маломобильности</label>
                    <input
                        type="text"
                        name="fName"
                        [(ngModel)]="client.attribute"
                        id="fName"
                        placeholder="Признак маломобильности"
                        class="input-text"/>
                </div>
            </div>
            <div class="w-full">
                <div class="mb-5">
                    <label for="fName" class="label">Снилс</label>
                    <input
                        type="text"
                        name="fName"
                        [(ngModel)]="client.snils"
                        id="fName"
                        placeholder="000-000-000 00"
                        class="input-text"/>
                </div>
            </div>
            <div class="w-full">
                <div class="mb-5">
                    <label for="fName" class="label">Полис ОМС</label>
                    <input
                        type="text"
                        name="fName"
                        [(ngModel)]="client.polisOms"
                        id="fName"
                        placeholder="Полис ОМС"
                        class="input-text"/>
                </div>
            </div>
            <div *ngIf="userServ.role == 1" class="form-group">
                <label for="fName" class="label">Социальный работник</label>
                <select name="userClients" class="input-text form-control" [(ngModel)]="worker">
                    <option *ngFor="let worker of workers" [ngValue]="worker">{{worker.login}}</option>
               </select>
            </div>
        </div>
        <div>
        </div>
    </div>
    
    <div class="sm:w-[45%] w-full h-[30%] ml-[10px] pt-3 pb-5 component flex flex-col">
        <div class="flex gap-4">
            <label for="fName" class="label">Документы</label>
            <label (click)="openDialog('0ms', '0ms')" for="fName" class="mb-1 block text-base font-medium text-[#07074D] hover:cursor-pointer hover:text-[#1616ca]">+Добавить</label>
        </div>
        <div>
            <table mat-table [dataSource]="dataSoruce1" matSort
            class="">
     
       <!-- Position Column -->
       <ng-container matColumnDef="position">
         <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
           Тип
         </th>
         <td mat-cell *matCellDef="let element"> {{element.idTypeDocument.name}} </td>
       </ng-container>
     
       <!-- Name Column -->
       <ng-container matColumnDef="name">
         <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by serial">
           Серия
         </th>
         <td mat-cell *matCellDef="let element"> {{element.serial}} </td>
       </ng-container>
     
       <!-- Weight Column -->
       <ng-container matColumnDef="weight">
         <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
           Номер
         </th>
         <td mat-cell *matCellDef="let element"> {{element.number}} </td>
       </ng-container>
     
       <!-- Symbol Column -->
       <ng-container matColumnDef="symbol">
         <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
           Действия
         </th>
         <td mat-cell *matCellDef="let element"> 
            <button (click)="del(element)" mat-mini-fab color="warn"><mat-icon>delete</mat-icon></button>
        </td>
       </ng-container>
     
       <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
       <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
     </table>
        </div>
        <div class="w-[20%] ml-auto mr-0 mt-5" *ngIf="name.valid && secondname.valid">
            <button class="button" type="submit">Создать</button>
        </div>
    </div>
</div>
</form>