<div class="flex flex-col my-[10px] h-[90vh] mr-[10px]">
  <form>
    <div class="component w-full flex gap-4">
        <div class="w-[200px]">
            <div class="mb-5">
              <label for="dateStart" class="label">Дата начала</label>
              <input
                type="date"
                name="dateStart"
                [(ngModel)]="plan.dateStart"
                id="dateStart"
                (change)="setMinDate()"
                class="input-text" required
                #dateStart="ngModel"/>
            </div>
        </div>
        <div class="w-[200px]">
            <div class="mb-5">
              <label for="dateFinish" class="label">Дата завершения</label>
              <input
                type="date"
                name="dateFinish"
                [(ngModel)]="plan.dateFinish"
                [min]="mindate"
                id="dateStart"
                class="input-text" required
                #dateFinish="ngModel"/>
            </div>
        </div>
        <div class="w-[150px]" *ngIf="dateStart.valid && dateFinish.valid && dataSource.length != 0">
          <button class="button" (click)="onSubmit()" type="submit">Создать</button>
      </div>

    </div>
  </form>
    <div class="component w-full">
        <div class="flex gap-4">
            <label for="fName" class="label">Услуги</label>
            <label (click)="openDialog('0ms', '0ms')" for="fName" class="mb-1 block text-base font-medium text-[#07074D] hover:cursor-pointer hover:text-[#1616ca]">+Добавить</label>
        </div>
        <div>
            <table mat-table [dataSource]="dataSoruce1">
     
       <!-- Position Column -->
       <ng-container matColumnDef="type">
         <th mat-header-cell *matHeaderCellDef sortActionDescription="Sort by number">
           Тип услуги
         </th>
         <td mat-cell *matCellDef="let element"> {{element.idServices?.idTypeServices?.type}} </td>
       </ng-container>

       <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef sortActionDescription="Sort by number">
          Название
        </th>
        <td mat-cell *matCellDef="let element"> {{element.idServices?.name}} </td>
      </ng-container>

      <ng-container matColumnDef="user">
        <th mat-header-cell *matHeaderCellDef sortActionDescription="Sort by number">
          Работник
        </th>
        <td mat-cell *matCellDef="let element"> {{element.idUser?.login}} </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef sortActionDescription="Sort by number">
          Дата оказания
        </th>
        <td mat-cell *matCellDef="let element"> {{element.dateComplete}} </td>
      </ng-container>
       <!-- Symbol Column -->
       <ng-container matColumnDef="action">
         <th mat-header-cell *matHeaderCellDef>
           Действия
         </th>
         <td mat-cell *matCellDef="let element" fxLayoutGap="5px">
            <button mat-mini-fab color="primary"><mat-icon>edit</mat-icon></button>
            <button (click)="del(element)" mat-mini-fab color="warn"><mat-icon>delete</mat-icon></button>
        </td>
       </ng-container>
     
       <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
       <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
     </table>
        </div>
    </div>
</div>